[2020-05-19 18:39] cwulfman opened #1 "extract collections.php to static page"

[2020-05-19 18:40] kelea99 opened #2 "Create Content for main page of PUDL site"
New text re: migration and discovery of Digital content for main page to replace "New and Featured Collections" area.

[2020-05-19 18:42] cwulfman opened #3 "Possibly modify eXist controller to re-direct to ark"
All of the existing object and collection URL should continue to work, and live on after the PUDL application is retired.

For objects, with URLs like `http://pudl.princeton.edu/objects/[ark shoulder]`, it's probably enough to redirect everything matching that pattern to the ARK URL, once the ARKs have all been updated to reference the new homes of the objects.

For collections, with URLs like `ht

[2020-05-19 19:25] kelea99 commented on #2
Start of working draft, @cwulfman : https://docs.google.com/document/d/1GqbARqNCSxBRnF7nVnmsmMTi1k9w176z4TfgFD0rmok/edit#

[2020-05-19 19:48] kelea99 opened #4 "Find, Review and Complete all "PUDL Bookshelf" items in Figgy"
- All items in PUDL are being compared to migrated items in figgy from this collection.

- All figgy items are being tagged with "PUDL Bookshelf".

- Metadata and arks in figgy being compared to PUDL.

- Pertinent GitHub tickets being reviewed and possible complications noted in figgy comments for still pending/metadata review items.

[2020-05-19 19:49] kelea99 opened #5 "Create list of PUDL arks currently in Figgy"

[2020-05-20 00:44] kelea99 opened #6 "Why is [Engelmann Archive of Proofs and Samples] not migrated from PUDL to figgy?"
@cwulfman I can find [this](http://pudl.princeton.edu/objects/3484zk471) nowhere in the documentation from PUDL sundowning items. Its not in figgy under this title, the bib id, or the catalog title (https://catalog.princeton.edu/catalog/8555444). No GitHub tickets for it that I can find. Went through what I could find for PUDL [migration fails/successes](https://github.com/pulibrary/pudl_mets_comp

[2020-05-20 00:53] kelea99 opened #7 "Make static page for "Collections" in PUDL site and change title to "Collections on the Move""
Static page with the expectation of adding icon/info for collections that have been migrated to figgy. Redirects needed for collection URLs and all arks.

[2020-05-20 14:22] kelea99 commented on #6
@escowles  do you have any memory as to why this was not migrated? if there is no reason, may we?

[2020-05-20 17:23] escowles commented on #6
I can't find any mention of it in my spreadsheets, in Figgy, the compiled METS files from PUDL, or anywhere. Looks like a very straightforward MVW, so I think we should just ingest it.

[2020-05-20 19:00] kelea99 commented on #6
Ok. Making ticket for it in figgy now.

[2020-05-26 14:54] cwulfman commented on #1
Edited output from collections.php to create homepage.html.

[2020-05-26 14:54] #1 closed, assigned to cwulfman

[2020-05-26 14:58] cwulfman commented on #2
Incorporated draft language into homepage.html; @kelea99 , you can go ahead and delete the Google Doc draft after reviewing homepage.html.

[2020-05-26 15:01] cwulfman commented on #7
Is this ticket still valid?  We've incorporated all the collections into the new static home page.  We just need to make sure the collections/ route points to the static homepage.

[2020-05-27 19:57] cwulfman opened #8 "migrate pudl0058 (Annotated Books)"

[2020-05-27 20:04] cwulfman opened #9 "pudl0087 (Antiquities)"

[2020-05-27 20:07] cwulfman opened #10 "pudl0134 Bibliotheca Cicognara"

[2020-05-27 20:08] cwulfman opened #11 "pudl0030 Block Prints of the Chinese Revolution"

[2020-05-27 20:10] cwulfman opened #12 "pudl0129 Chinese Materials in the Cotsen Collection"

[2020-05-27 20:11] cwulfman opened #13 "pudl0066 Civil War, Society and Political Transition in Guatemala"

[2020-05-27 20:11] cwulfman opened #14 "pudl0110 Columbus Letters"

[2020-05-27 20:12] cwulfman opened #15 "pudl0016 Digital Library Bookshelf"

[2020-05-28 12:45] cwulfman opened #16 "pudl0071 East Asian Library Bookshelf"

[2020-05-28 12:46] cwulfman opened #17 "pudl0090 Engineering in the Modern World"

[2020-05-28 12:46] cwulfman opened #18 "pudl23 Falda publications"

[2020-05-28 12:47] cwulfman opened #19 "pudl0052 Fifty-three stations of the Tokaido"

[2020-05-28 12:47] cwulfman opened #20 "pudl0044 Fitzgerald Collection"

[2020-05-28 12:48] cwulfman opened #21 "pudl87 Gardens and Landscape Design"

[2020-05-28 12:49] cwulfman opened #22 "pudl0015 Gilray collection"

[2020-05-28 12:50] cwulfman opened #23 "pudl0038 Historical Photograph Collection: Grounds and Buildings Series"

[2020-05-28 12:50] cwulfman opened #24 "pudl0051 Hogenberg Engravings"

[2020-05-28 12:51] cwulfman opened #25 "pudl0036 Interborough Rapid Transit Company Suby"

[2020-05-28 12:52] cwulfman opened #26 "pudl0021 James S. Hall collection of George Frideric Handel"

[2020-05-28 12:53] cwulfman opened #27 "pudl0118 Japanese Prints and Drawings in the Cotsen Collection"

[2020-05-28 12:54] cwulfman opened #28 "pudl0026 Japanese and Chinese Prints and Drawings donated by Gillett G. Griffin"

[2020-05-28 12:54] cwulfman opened #29 "pudl0104 Japanese ehon"

[2020-05-28 13:06] cwulfman opened #30 "pudl0031 John Baptist Jackson Chiaroscuro Woodcuts"

[2020-05-28 13:08] cwulfman opened #31 "pudl0053 Krafft publications"

[2020-05-28 13:08] cwulfman opened #32 "pudl0025 Latin American Posters Collection"

[2020-05-28 13:09] cwulfman opened #33 "pudl0033 Lorenzo Homar collection, 1937-1999"

[2020-05-28 13:11] cwulfman opened #34 "pudl0139 McLoughlin Publisher's Catalogs, Advertising Materials, and Publisher's Archives Items"

[2020-05-28 13:11] cwulfman opened #35 "pudl0016 Mesoamerican Manuscripts"

[2020-05-28 13:12] cwulfman opened #36 "pudl0100 Middle Eastern Film Posters Digitization"

[2020-05-28 13:40] cwulfman opened #37 "pudl0102 Music Treasures at Princeton"

[2020-05-28 13:40] cwulfman opened #38 "pudl0106 Nietzsche Collection"

[2020-05-28 13:41] cwulfman opened #39 "pudl0020 Nineteenth-century sheet music collection"

[2020-05-28 13:41] cwulfman opened #40 "pudl0053 Paris Architecture and Urbanism"

[2020-05-28 13:42] cwulfman opened #41 "pudl 0032 Princeton Digital Library of Islamic Manuscripts"

[2020-05-28 13:43] cwulfman opened #42 "pudl0123 Princeton Papyri Collections"

[2020-05-28 13:43] cwulfman opened #43 "pudl0009 Princeton University Historical Postcard Collection"
See pulibrary/figgy#1580

[2020-05-28 13:44] cwulfman opened #44 "pudl 0125 Print Ephemera from the 2013 Moscow Mayoral Election"

[2020-05-28 13:45] cwulfman opened #45 "pudl0010 Robert Nanteuil Collection"

[2020-05-28 13:45] cwulfman opened #46 "pudl0130 Rowlandson Collection"

[2020-05-28 13:46] cwulfman opened #47 "pudl0001 Scheide Library: Fifteenth-Century Printing"

[2020-05-28 13:47] cwulfman opened #48 "pudl0127 Soviet Era Books for Children and Youth"

[2020-05-28 13:47] cwulfman opened #49 "pudl0012 Taller de Grafica Popular Prints and Posters"

[2020-05-28 13:48] cwulfman opened #50 "pudl0076 The Sid Lapidus '59 Collection on Liberty and the American Revolution"

[2020-05-28 13:49] cwulfman opened #51 "pudl0039 Thomas Nast collection"

[2020-05-28 13:49] cwulfman opened #52 "pudl0123 Treasures of the Manuscripts Division"

[2020-05-28 13:50] cwulfman opened #53 "pudl0001 Treasures of the Scheide Library"
This is the same as Scheide Library: Fifteenth-Century Printing

[2020-05-28 13:51] cwulfman opened #54 "pudl0083 Versailles: La Grande Galerie de Versailles"

[2020-05-28 13:52] cwulfman opened #55 "pudl0083 La grotte de Versailles"

[2020-05-28 13:52] cwulfman opened #56 "pudl0083 Versailles on Paper"

[2020-05-28 13:53] cwulfman opened #57 "pudl0017 Western Americana Collection"

[2020-05-28 13:53] cwulfman opened #58 "pudl0079 Yemeni Manuscript Digitization Initiative"

[2020-05-28 14:12] cwulfman commented on #15
Duplicate of #4

[2020-05-28 14:26] cwulfman opened #59 "collection list for new static page incomplete"
http://pudl.princeton.edu/collections.php does not generate a complete list

[2020-05-28 18:19] kelea99 commented on #36
Migrated images + Metadata from PUDL to Figgy NOT the complete set. complete set still on PUDL share on isilon. Metadata exists but needs to be added once treated as ephemera (decision to make ephemera changed the workflow on this).

[2020-05-28 21:03] cwulfman commented on #59
The collection list is generated by collections.php, which wraps a GET request to http://pudl.princeton.edu/collections, which invokes collections.xq. Collections.xq queries the eXist db for eads and processes them.  The eads are in an svn repository, http://diglibsvn.princeton.edu/svn/puldi/pudl.  (The trunk of that repository is empty; there is a single tagged version, and there is a development

[2020-06-01 13:48] #2 closed, assigned to kelea99

[2020-06-03 12:57] cwulfman commented on #5
Esmé has created a spreadsheet: https://docs.google.com/spreadsheets/d/1H3Ct3yNULsiqZwScfA-MKUE3nBFte_mWO15UQ25SF1c/edit#gid=0

[2020-06-03 14:05] cwulfman commented on #43
This collection is similar to Grounds and Buildings, in that there is detailed item-level metadata in the METS/MODS from the PUDL that doesn't match the descriptive granularity of the EAD.  One solution would be to make a multivolume work for each component in the EAD and ingest each METS/MODS object as a volume of one of those multivolume works.  A considerable amount of metadata (publishers, mul

[2020-06-03 22:03] #5 closed, assigned to nobody

[2020-06-09 15:32] cwulfman commented on #7
home page (index.html) has been made static, so accomplishes the same thing.

[2020-06-09 15:32] #7 closed, assigned to nobody

[2020-06-09 15:33] cwulfman commented on #59
Doesn't affect the display of PUDL collections

[2020-06-09 15:33] #59 closed, assigned to cwulfman

[2020-06-10 18:55] cwulfman commented on #54
Already migrated; see pulibrary/figgy#3962.

Now we need to

update the PUDL page
create DPUL exhibit?

[2020-06-10 18:55] cwulfman commented on #55
Already migrated; see pulibrary/figgy#3962.

Now we need to

- update the PUDL page
- create DPUL exhibit?

[2020-06-10 18:55] cwulfman commented on #56
Already migrated; see pulibrary/figgy#3962.

Now we need to

- [x] update the PUDL page
- [ ] create DPUL exhibit?

[2020-06-16 20:54] kelea99 commented on #54
Question for Julie:
1. are these separated prints part of larger print collection or were they shot from the volume in SC?  If part of a separated prints collection, should items  be linked back to that collection in at 772 field OR should the 772 field contain information for the parent volume (not digitized).

[2020-06-17 17:56] cwulfman opened #60 "create spreadsheet of metadata for Historical Postcards (pudl0009)"
Make it look like this one:

https://docs.google.com/spreadsheets/d/1B5PjqUssciL_mq8QuBWJSouGi71AzCQGxEH3A8Hk0fw/edit#gid=640016204

[2020-06-23 14:31] cwulfman commented on #60
https://docs.google.com/spreadsheets/d/1tS6Og1YMQsPcYYJK5gsrrEO1Dlo9zgkIGStURe4LKi8/edit#gid=1650573101

[2020-06-23 14:31] #60 closed, assigned to nobody

[2020-06-23 15:24] cwulfman commented on #6
This is in pudl0130:
[code]

NB 8555444 doesn't appear to be a bibid (it doesn't appear in the catalog).  These seem to be Graphic Arts materials.

[2020-06-23 16:12] kelea99 commented on #6
Closing this ticket. #3932 is the ingest request for this item.

[2020-06-23 16:12] #6 closed, assigned to nobody

[2020-06-23 16:50] kelea99 opened #61 "PUDL0130 migration (multiple items from GA Treasures)"

[2020-06-24 14:39] cwulfman opened #62 "migrate pudl UI codebase to GitHub"

[2020-06-24 14:56] kelea99 commented on #54
@kelea99 will add these to figgy. each item has its own MARC record.

[2020-06-24 16:55] cwulfman opened #63 "8555444:Engleman (#3932)"
ingest as MVW + Link to MARC record KEL will do

[2020-06-24 16:56] cwulfman opened #64 "ingest 6109684"
this is a periodical with its own MODS metadata for each issue. what to do? Ingest as MVW? what happens to the metadata?

[2020-06-24 16:57] cwulfman opened #65 "ingest GC060"
- GC060: 2 oversized scrapbooks (2 volumes)  prepared by Elmer Adler prepared by GA. Not cataloged at the time. Title: "Princeton print club, 1941-1945". Just tiffs. once cataloged with a bib record, we can ingest this as is. KEL can do. Contact Jennifer Baxmeyer

[2020-06-24 16:59] cwulfman opened #66 "ingest 3051613"
3051613: each one has its own separate VRA record.

@escowles there are separate Marc records for each plate (presumably) but slightly richer VRA metadata in the PUDL.

@kelea99 can do a representative sample of what exactly is missing in the Marc. but what is the preferred way forward?

[2020-06-24 17:00] kelea99 commented on #63
ingest issues. @hackmastera helping with this one. Ticket opened:  https://github.com/pulibrary/figgy/issues/4004

[2020-06-24 17:08] cwulfman opened #67 "migrate pudl083 (Versailles)"

[2020-06-24 18:30] cwulfman commented on #62
https://github.com/PrincetonUniversityLibrary/pudlUI

[2020-06-24 18:30] #62 closed, assigned to nobody

[2020-06-24 18:31] cwulfman commented on #46
same as #61

[2020-06-24 18:31] #46 closed, assigned to nobody

[2020-06-24 21:38] kelea99 commented on #63
ingested and complete. https://figgy.princeton.edu/catalog/49add4a8-e4fc-4ddf-a533-b335f9b21b18

[2020-06-24 21:38] #63 closed, assigned to kelea99

[2020-06-25 13:36] cwulfman commented on #64
Ingested as a MVW

https://figgy.princeton.edu/catalog/2ccbbcb7-5538-4485-8fa2-18c6fe0b2746

[2020-06-25 13:36] #64 closed, assigned to cwulfman

[2020-06-25 14:25] kelea99 commented on #66
@cwulfman I spoke with @escowles yesterday about this. We should proceed with attaching all plates to the corresponding Marc records and download/preserve the VRA metadata. The MARC records may be enhanced by metadata specialists with the VRA data at a later date.

[2020-06-25 14:31] cwulfman commented on #66
Is there some mapping between the sub-folder names and those MARC records?  E.g., how does one map `pudl0130/3051613/ga_2014_00378` to a BIBID?

[2020-06-25 15:08] cwulfman commented on #65
This item has been cataloged now.  There are three bib records for [The] Princeton Print Club 1941-1945:

item | bibid | call no
-----|------|--------
volume 1 | 10645371     | E Row 1/GC060/Oversize/Princeton Print Club/Scrapbook 1 GA 2014.01072
volume 2 | 10665094    | E Row 1/GC060/Oversize/Princeton Print Club/Scrapbook 2 GA 2014.01073
single item | 10640579 | D Alcove/GC060/Tall Carton/Prince

[2020-06-25 15:08] kelea99 commented on #66
Good question. Let me have a look, @cwulfman

[2020-06-25 15:44] kelea99 commented on #65
after conversation with @cwulfman :
We will be linking each volume to its own Marc record at ingest (Volume 1: 10645371 ; Volume 2: 10665094). @kelea99 will be contacting Jennifer B. alerting her to this. If she feels 10640579 should be noted somewhere in both records, she may do so.

update: Jennifer B. contacted via slack. information sent.

[2020-06-25 15:54] kelea99 commented on #66
ok, @cwulfman . mapping finds (PUDL item example being used: http://pudl.princeton.edu/objects/z603r099p) --see location info: GA 2014.00067

seems we can use the following as the unique identifier:

1. the subdirectory for each image from the pudl share on the isilon for the collection (ga_2014_00067) mapped to...
2. the 852 field of the MARC: GA 2014.00067 (cat record link: https://catalog.princ

[2020-06-25 16:44] ghost commented on #65
Are there two copies? Why are there 3 MARC records? If this a two-volume resource, the two individual bibs should be sufficient. The third bib seems redundant.

[2020-06-25 16:46] kelea99 commented on #65
@jbaxmeyer, I will write to Julie M. to ask if there is a second copy or separate collection the 3rd Marc record relates to. If not, I say we nix the third bib. writing to her now.

[2020-06-25 17:00] cwulfman commented on #65
volumes 1 & 2 have been ingested:

- https://figgy.princeton.edu/catalog/ac14913e-7482-4dc6-b2a1-fe0976943bc4
- https://figgy.princeton.edu/catalog/15421c99-6bc7-45a1-9c9c-26308d1c80b0

[2020-06-25 17:16] kelea99 commented on #65
Update from Julie Melby. We will keep that third MARC record. it is for a separate item, @cwulfman .  So this ticket is complete! Closing. Information from Julie regarding the third Marc:
Hi Kim, thanks so much. There is a 3rd box so yes, there should be 3 records. The ephemera collection was never completely catalogued but very important so we can find this one single box. When I can, I'll pull i

[2020-06-25 17:16] #65 closed, assigned to cwulfman, kelea99

[2020-06-25 17:17] kelea99 commented on #54
All images are in PUDL0083 on isilon, 2012 subdirectory AND  2013. plate collections include both: Versailles: La grotte de Versailles and Versailles: La Grande Galerie de Versailles

[2020-06-25 17:18] cwulfman commented on #66
@kelea99 what is the relationship, if any, between pudl0130/3051613 and https://findingaids.princeton.edu/collections/RTC01/c308?

[2020-06-25 18:39] cwulfman commented on #66
For Mark Z, create a spreadsheet w/info from the VRA/METS, so he can generate a Voyager report that links the GA ids with BibIDs, so we can ingest each plate into Figgy by its BibID

[2020-06-25 18:49] kelea99 commented on #15
done?|collection|bibid|title
-----|----------|-----|-----
|x|pudl0091|4109657|[Album containing 1000 wood engravings]
|x|pudl0006|3805972|Arthur Mendel : June 6, 1905 - October 14, 1979
|x|pudl0064|2397415|Atlas universel de géographie physique, politique, statistique et minéralogique : sur léchelle de 1/1641836 ou d'une ligne par 1900 toises
|x|pudl0028|attn|Attention and effort
|x|pudl0063|22745

[2020-06-26 20:38] #4 closed, assigned to kelea99

[2020-06-30 16:11] cwulfman commented on #66
https://docs.google.com/spreadsheets/d/1sazjB0Hm7ERtRoWUzWvMZLMPe5MGg0Jve6X8plLz9pc/edit#gid=1019581632

Waiting for Mark Z to approve

[2020-06-30 16:58] kelea99 commented on #57
Migrated.

[2020-06-30 16:58] #57 closed, assigned to nobody

[2020-06-30 20:19] cwulfman commented on #56
These three are in pudl0083

- [x] https://catalog.princeton.edu/catalog/7920607
- [x] https://catalog.princeton.edu/catalog/8206793
- [x] https://catalog.princeton.edu/catalog/2424420
- [x] https://catalog.princeton.edu/catalog/7346463

[2020-06-30 20:42] cwulfman commented on #56
They have been ingested into Figgy.

Final task on this ticket is to create DPUL exhibit.

[2020-06-30 20:47] cwulfman commented on #54
Working on pudl0083/2013:

- [x] 00210 = https://catalog.princeton.edu/catalog/10653468
- [x] 00211 = https://catalog.princeton.edu/catalog/10644986
- [x] 00212 = https://catalog.princeton.edu/catalog/10652807

[2020-06-30 22:25] kelea99 commented on #47
All have been ingested in figgy and all but 1 complete.  Why was this one flagged?? @escowles @roelmoon, ideas? https://figgy.princeton.edu/catalog/923bb0d8-7e1b-4dfa-b66e-ce75770aeebe

I am closing the ticket, regardless,  as all items have MARC records with bib ids noted in PUDL and have been ingested into figgy.

[2020-06-30 22:25] #47 closed, assigned to nobody

[2020-06-30 22:30] kelea99 commented on #8
all ingested and complete.

[2020-06-30 22:30] #8 closed, assigned to nobody

[2020-06-30 22:33] #9 closed, assigned to nobody

[2020-06-30 22:33] kelea99 commented on #9
one item from Marquand. Ingested.

[2020-07-01 10:22] escowles commented on #47
Unfortunately, I don't know why this item was flagged — but it is public and showing up in OL, so I think it's fine.

[2020-07-01 14:00] kelea99 commented on #47
Ok. ill keep the issue closed, then. Thank you!

[2020-07-01 14:47] kelea99 commented on #10
Problem with: https://figgy.princeton.edu/catalog/67a5045a-98d6-4a09-9f8d-cc73fabfd55a

[2020-07-01 18:34] cwulfman commented on #10
Should Cicognara really be considered a pudl collection? It's already entirely subsumed by the Cicognara project/resource, isn't it?

[2020-07-02 13:05] cwulfman opened #68 "missing image in pudl0130/3051613 (Rowlandson)"
E, [2020-07-01T23:45:02.520311 #2841] ERROR -- : Error: BulkIngestService: Directory is empty: /mnt/diglibdata/pudl/pudl0130/3051613/ga_2014_00803

It is in the catalog: https://catalog.princeton.edu/catalog/10660281

[2020-07-02 14:32] cwulfman commented on #66
Ingested as collection pudl0130 https://figgy.princeton.edu/catalog?utf8=✓&q=pudl0130

[2020-07-02 14:32] #66 closed, assigned to cwulfman

[2020-07-02 14:33] #61 closed, assigned to cwulfman, kelea99

[2020-07-02 14:36] #56 closed, assigned to kelea99

[2020-07-02 14:37] #67 closed, assigned to nobody

[2020-07-02 15:10] cwulfman commented on #23
On July 2, 2020 Lynn Durgin wrote:

Thank you for reaching out.

Yes; the Figgy resources are ready to be matched up with their component IDs.

In addition, many changes were made to the item metadata, so the fields: title, subject, date, end date, approximate, location, photographer and description should all be uploaded into Figgy to replace what is currently there. Changes were not only made to

[2020-07-02 18:18] kelea99 commented on #68
Kim  will write to  Julie Mellby about this

[2020-07-06 15:58] kelea99 commented on #68
Contacted Julie M.  about this.

[2020-07-06 18:30] kelea99 commented on #68
Julie has paged the missing plate and will be ready whenever it can be added to the studio pipeline. Contacted @roelmoon.

[2020-07-06 20:58] cwulfman commented on #55
pudl0083/2012 has not been migrated.

[2020-07-07 13:00] kelea99 commented on #55
PUDL0083/2012 and PUDL0083/2013 subdirectories contain selections from both versailles plate collections. although this should not be the norm, we should ensure the numbers for each collection match up in figgy and PUDL before closing tickets. thoughts, @cwulfman ?

[2020-07-07 14:11] cwulfman commented on #55
I think that, in cases like this, we should specify those sub-directories/subcollections in the ticket, either as checkable boxes or as subtasks.

[2020-07-07 14:13] kelea99 commented on #55
I did, in the ticket for the versailles collection I was working on? see [ticket](https://app.zenhub.com/workspaces/pudl-migration-5eb16df8c43e55b9970b335f/issues/pulibrary/pudl-migration/54)

[2020-07-07 15:21] cwulfman opened #69 "ga 2012.00010 has duplicate"
https://figgy.princeton.edu/catalog?utf8=✓&q=ga+2012.00010

[2020-07-07 16:28] kelea99 commented on #54
There are three sub-directories- each with two plates on one page. Because there are separate MARC records for each plate, @cwulfman and @kelea99 have decided to include the image of the full page + the image of the individual plate for each item:

- 2012/00018-19
- [ ] 00018: https://catalog.princeton.edu/catalog/10652257 
- [ ] 00019:  https://catalog.princeton.edu/catalog/10650164 

- 2012/0002

[2020-07-08 13:02] cwulfman commented on #54
2012/00018 - 00023 have been ingested into Figgy.

[2020-07-08 13:04] cwulfman commented on #55
Discussed and resolved in #54

[2020-07-08 13:04] #55 closed, assigned to cwulfman

[2020-07-08 13:30] kelea99 commented on #54
Awesome! reviewed and completed in figgy. all items now available in online catalog.

[2020-07-08 13:31] #54 closed, assigned to kelea99

[2020-07-08 13:37] cwulfman commented on #23
- [x] create a MVW for each component ID with multiple digital objects, attaching existing scanned resources as children
- [x] then, add a component ID to each figgy object to trigger remote metadata
- [x] finally, import the remaining metadata from the spreadsheet into Figgy

The last step will require creating a custom rake task

[2020-07-31 17:32] cwulfman commented on #23
Ready for stakeholder review.

[2020-08-04 13:55] #68 closed, assigned to nobody

[2020-08-04 13:55] kelea99 commented on #68
Done

[2020-08-05 14:39] cwulfman commented on #13
This project began as METS/MODS, with the items generated by hand from a pre-EAD finding aid to the microfilm.  The METS/MODS, plus a version of pudl0066.ead and a final report (anonymous and undated) can be found in the Subversion repository:http://diglibsvn.princeton.edu/svn/puldi/pudl/branches/development/mdata/pudl0066

[2020-08-29 12:43] kelea99 commented on #13
@cwulfman was able to get MODs functioning and GNIB is being ingested as ephemera into Figgy. Looking at ingest now. Metadata that is still needed, from what we can see:
1. Barcode:  We will be using Folder Number_Item number (example: BI_0_00009). Unique for each item. *Folder and item numbers in EAD*
2. Folder Number: Folder Number (example: BI_0). Folder numbers not unique for each item
** FYI:

[2020-08-31 15:42] cwulfman commented on #13
I've created a larger-scale ticket in Figgy:  https://github.com/pulibrary/figgy/issues/4233

[2020-09-01 18:17] #14 closed, assigned to nobody

[2020-09-01 18:18] #16 closed, assigned to nobody

[2020-09-01 18:19] #17 closed, assigned to nobody

[2020-09-01 18:20] #18 closed, assigned to nobody

[2020-09-01 18:21] #19 closed, assigned to nobody

[2020-09-01 18:25] #21 closed, assigned to nobody

[2020-09-01 18:25] #22 closed, assigned to nobody

[2020-09-01 18:25] #24 closed, assigned to nobody

[2020-09-01 18:27] #25 closed, assigned to nobody

[2020-09-01 18:28] #26 closed, assigned to nobody

[2020-09-01 18:29] #27 closed, assigned to nobody

[2020-09-01 18:30] #28 closed, assigned to nobody

[2020-09-01 18:30] #29 closed, assigned to nobody

[2020-09-01 18:34] #33 closed, assigned to nobody

[2020-09-01 18:35] #34 closed, assigned to nobody

[2020-09-01 18:35] #35 closed, assigned to nobody

[2020-09-01 18:36] #37 closed, assigned to nobody

[2020-09-01 18:37] #38 closed, assigned to nobody

[2020-09-01 18:39] #40 closed, assigned to nobody

[2020-09-01 18:40] #41 closed, assigned to nobody

[2020-09-01 18:46] #45 closed, assigned to nobody

[2020-09-01 18:47] #48 closed, assigned to nobody

[2020-09-01 18:48] #49 closed, assigned to nobody

[2020-09-01 18:48] #50 closed, assigned to nobody

[2020-09-01 18:49] #53 closed, assigned to nobody

[2020-09-01 18:49] #58 closed, assigned to nobody

[2020-09-01 18:57] cwulfman commented on #30
See https://github.com/pulibrary/figgy/issues/1584

VRA metadata, not MODS

[2020-09-01 18:58] cwulfman commented on #20
See https://github.com/pulibrary/figgy/issues/1592

Update: the 8 objects in PUDL have already been migrated to Figgy, but the arks need to be updated.  Then we can close this ticket.

[2020-09-01 19:14] #31 closed, assigned to nobody

[2020-09-03 14:12] cwulfman commented on #39
These are in Figgy, marked as pending; the arks haven't been changed

[2020-09-03 14:19] #42 closed, assigned to nobody

[2020-09-03 14:21] cwulfman commented on #32
migrated; waiting on QA

[2020-09-03 14:28] #51 closed, assigned to nobody

[2020-09-03 14:28] #52 closed, assigned to nobody

[2020-09-03 16:00] kelea99 commented on #39
@cwulfman these are being done by Brittany in Mendel and her staff.

[2020-09-03 19:15] kelea99 commented on #44
@kelea99  will contact Thomas and Anna to ask them about the status of this collection.

[2020-09-03 21:07] kelea99 commented on #44
This will be its own ephemera project and the title will be: "Print Ephemera from the 2013 Moscow Mayoral Election"

The ephemera project should also be tagged tagged w/ Princeton Slavic Collections.

Confirmed by Thomas Keenan

[2020-09-03 21:18] cwulfman commented on #44
So I will ingest this as I did GNIB -- a clone of the Ukraine Ephemera process.

[2020-09-04 12:35] kelea99 commented on #44
yup. that is how i understand it.

[2020-09-10 13:53] cwulfman commented on #20
- [x] http://arks.princeton.edu/ark:/88435/9z903115m
- [x] http://arks.princeton.edu/ark:/88435/cc08hg91z (may not have been ingested into Figgy)
- [x] http://arks.princeton.edu/ark:/88435/sf268784s
- [x] http://arks.princeton.edu/ark:/88435/fq977w07f
- [x] http://arks.princeton.edu/ark:/88435/bc386k51p
- [x] http://arks.princeton.edu/ark:/88435/jw827c96v
- [x] http://arks.princeton.edu/ark:/88435

[2020-09-10 15:03] cwulfman commented on #20
Kim, would you please ask the curators to provide links to the proper finding-aid components for the following two items:

 http://arks.princeton.edu/ark:/88435/cc08hg91z  -->supplied by Chloe Pfendler: http://pudl.princeton.edu/objects/cc08hg91z = C0101_c000668
 http://arks.princeton.edu/ark:/88435/kh04dq988 --> supplied by Chloe Pfendler: http://arks.princeton.edu/ark:/88435/kh04dq988 = C0188_c0

[2020-09-10 16:23] kelea99 commented on #20
@cwulfman : contacted Chloe Pfendler from SC, who has worked/is working on Fitzgerald as a good place to start.

[2020-09-10 23:04] kelea99 commented on #13
@cwulfman we still need the collection tag "Latin American and Iberian Studies Collections" added to all items, so that they can map to the DPUL site. the GNIB collection is a sub collection of the whole.

[2020-09-10 23:10] kelea99 commented on #32
PUDL0025 needs collection tag: Latin American and Iberian Studies Collections added to all items so that it maps to DPUL exhibit.

[2020-09-10 23:28] kelea99 commented on #44
@cwulfman was this ingested as an ephemera project like discussed above?

[2020-09-10 23:32] kelea99 commented on #44
Ah, i see the problem. it was ingested as "Princeton Slavic Collections" Project. It needs to be  titled: Print Ephemera from the 2013 Moscow Mayoral Election

The secondary collection tag (Princeton Slavic Collections) needs to be added at the item level, in the collections pulldown menu.

[2020-09-11 17:50] cwulfman opened #70 "Vandermelen atlas"
Eliot points out it has not yet been migrated.  Follow up.

[2020-09-11 17:52] cwulfman commented on #70
See https://github.com/pulibrary/figgy/issues/1600

[2020-09-11 17:52] cwulfman commented on #70
See https://github.com/pulibrary/figgy/issues/1600

[2020-10-06 13:52] cwulfman commented on #13
Now in the Latin American and Iberian Studies collection

[2020-10-06 14:13] cwulfman commented on #30
These seem already to have been cataloged, so these VRA records have been superseded.  Someone needs to ingest each of these 18 objects with the proper bibid.

[2020-10-06 16:02] cwulfman commented on #30
Done.

[2020-10-06 18:11] cwulfman commented on #13
Fernando reports many of the items have MODS but no images in Figgy:

[2020-10-08 18:54] cwulfman commented on #13
See report of problematic items: https://docs.google.com/spreadsheets/d/1vpsLuTlatwU0pTqjxv5OmX4K90v-wrIJ9NfeNAFe75I/edit#gid=521120918

[2020-11-17 21:35] cwulfman opened #71 "Board of Trustees Minutes. Volumes I-XII (pudl0004)"
http://arks.princeton.edu/ark:/88435/7w62f826z. points to http://pudl.princeton.edu/objects/7w62f826z

pudl0004 does not appear to have been migrated to Figgy.

[https://app.zenhub.com/files/261482679/e8499838-f751-42ef-95b1-5aa90c1a43b3/download](https://app.zenhub.com/files/261482679/e8499838-f751-42ef-95b1-5aa90c1a43b3/download)

https://findingaids.princeton.edu/catalog/AC120 points back to th

[2020-12-02 13:54] cwulfman opened #72 "create punch list for sunsetting"

[2020-12-02 13:55] cwulfman opened #73 "review all collections currently published in PUDL to confirm they are available in Figgy (or elsewhere)"

[2020-12-02 13:56] cwulfman opened #74 "de-commission PUDL website"
What will be involved? Creating tombstone; redirects; etc?  Make a list!

[2020-12-08 22:47] cwulfman commented on #13
At least some of the images have been mis-filed (with the previous item, for example).  Cliff will review all the items on the Isilon and move images to the right places; Kim will then update the Figgy objects to match.

[2020-12-09 16:19] cwulfman commented on #13
The following subdirectories in diglibdata/pudl/pudl0066/ephemera/PD/PD_7_0_b_3 are empty.  The associated metadata appears, at least in some cases, to duplicate records in the same folder.  These also all have MODS metadata but no corresponding METS.

00370
00372
00373
00375
00376
00379
00382
00383
00384
00385
00387
00391
00397
00398
00400
00402
00403
00408
00411
00449
00452
00456
00458
00464
004

[2020-12-10 16:16] cwulfman opened #75 "resolve or address remaining issues on Figgy board"

[2021-01-06 15:28] escowles opened #76 "Redirect PUDL URLs"
Patterns to redirect:
- [ ] `/collections/pudl0125` (about 100 items with custom destinations)
- [ ] `/objects/ng451j89v` -> `arks.princeton.edu/ark:/88435/[ARK id]`
- [ ] `/sheetreader.php?obj=6h440w05w` -> `arks.princeton.edu/ark:/88435/[ARK id]`

Hosts to redirect:
- [ ] `pudl.princeton.edu` -> `dpul.princeton.edu`
- [ ] `pudltest.princeton.edu` -> `dpul.princeton.edu`

[2021-01-13 21:35] cwulfman commented on #20
pudl0044/823463 is http://pudl.princeton.edu/objects/cc08hg91z and it is C0101/c000668

[2021-01-19 14:46] #30 closed, assigned to nobody

[2021-01-19 15:14] #70 closed, assigned to nobody

[2021-01-19 15:15] #69 closed, assigned to nobody

[2021-01-19 15:15] cwulfman commented on #69
Not a migration issue

[2021-01-19 17:48] kelea99 commented on #43
From Alexis:

Christa has finished associating finding aid components on the [spreadsheet](https://docs.google.com/spreadsheets/d/1tS6Og1YMQsPcYYJK5gsrrEO1Dlo9zgkIGStURe4LKi8/edit#gid=1650573101) (https://docs.google.com/spreadsheets/d/1tS6Og1YMQsPcYYJK5gsrrEO1Dlo9zgkIGStURe4LKi8/edit#gid=1650573101)

There are a small number of fixes to make in the item-level metadata—there are few enough that we

[2021-01-19 17:51] kelea99 commented on #23
Recent questions from stakeholders:

Is it possible to display the box (and item number, if possible) in one of the metadata fields in the “More information” area? We have this information in the PUDL, it is present in the spreadsheet in the location field, and it would be very helpful to have it in Figgy.  We are open to your suggestions about which metadata field would be available and would wor

[2021-01-19 17:56] kelea99 commented on #23
Spreadsheet for grounds and buildings: https://docs.google.com/spreadsheets/d/1B5PjqUssciL_mq8QuBWJSouGi71AzCQGxEH3A8Hk0fw/edit#gid=640016204

[2021-01-19 19:32] cwulfman commented on #23
On 09/07/2020, we (re)ingested pudl0038 (AC111) as a collection of multi-volume works based on component id. On 9/14/2020, @kelea99 wrote to Lynn, Alexis, and Ann Marie, telling them of the ingest of the MVWs and asking for their review.

In an email dated December 18, 2020 (subject RE: Grounds and Buildings MVWs and Historic Postcards DPUL test site ready for review), Lynn Durgin responded to @ke

[2021-01-19 20:34] escowles commented on #23
Decision 01/19/21: While the stakeholders would like a more seamless experience, they are find with the MVW approach since it allows retaining the metadata for each individual photo.

[2021-01-19 20:38] cwulfman commented on #23
@cwulfman : create new collection (linked to AC111) and write script to go through all the source_metadata_identifiers (the collection ids in the spreadsheet) and add them to that collection : https://figgy.princeton.edu/catalog/bd9b272c-fdf6-41a8-baa9-cb4524c777d8

[2021-04-27 20:59] kelea99 commented on #20
Looking at this one. what more has to be done?

[2021-04-28 14:37] escowles commented on #71
👍🏻 Ingesting into Figgy and pointing the ARK to DPUL sounds good to me.

[2021-04-28 14:52] cwulfman opened #77 "remove feedback forms"
Begin forwarded message:

From: "Jon P. Stroop" <jstroop@princeton.edu>
Subject: FW: Form submission from: Digital Library Feedback
Date: April 27, 2021 at 5:56:45 PM EDT
To: Esme Cowles <escowles@princeton.edu>

I think these still come from the PUDL. Something else to consider when we take it down.

From: Eesam via Princeton University Library <pulweb@princeton.edu>
Date: Tuesday, April 27, 2021

[2021-04-28 15:05] kelea99 commented on #77
Patrons are requesting manuscripts from the PUDL? where and how?

[2021-04-28 15:06] kelea99 commented on #77
Apparently there is a SC HTML site that links stuff to the PUDL. Roel is talking to me about it now.

[2021-04-28 18:41] kelea99 commented on #20
Ok. the missing item is part of C0101 as the information from chloe says above (I got it from the PUDL information).  It has a Figgy collection already: https://figgy.princeton.edu/catalog/b35decb8-345b-4184-9dbc-182e49d1863f. we can add it to that collection.

[2021-04-28 18:42] #11 closed, assigned to nobody

[2021-04-28 18:42] #36 closed, assigned to nobody

[2021-04-28 18:42] #44 closed, assigned to nobody

[2021-04-28 19:36] kelea99 commented on #39
@escowles should we change the arks on these?

[2021-04-28 19:53] escowles commented on #39
If the existing ARKs are in the MARC records, they should get updated automatically when the items are completed.

Or are there other existing ARKs that need to be added?

[2021-04-28 20:11] kelea99 commented on #43
i completed all of these. waiting for stakeholders to say we are done

[2021-04-28 20:42] kelea99 commented on #39
I would assume cliff means there are existing arks.   if so, Kate has this ark thing down beautifully now and we can use her task?

[2021-04-29 14:02] kelea99 commented on #15
The items not in figgy, @cwulfman . Im completing everything else:
1. pudl0130	8555444	[Engelmann Archive of Proofs and Samples]
2. pudl0018	t12a	Ivan Susanin
3. Volume 2 for : Manuel de l'outillage des arts et métiers : à l'usage des écoles techniques, compagnies de chemins de fer et de navigation : traitant de l'outillage du menuisier, tourneur, tonnelier, charron, charpentier, modeleur et du mé

[2021-05-18 20:05] ccleeton commented on #71
I have had a brief discussion with our Mudd Digital curation team about this collection. We are fine with just getting these into figgy. I am going to check with the rest of our Mudd staff to see if we need to have them in DPUL or not.

[2021-05-20 18:17] #13 closed, assigned to nobody

[2021-05-26 18:10] cwulfman opened #78 "repair migration of pudl0036 (Interborough Rapid Transit)"
The actual posters are in 4 big boxes with no organization; archivists are concerned about discoverability.  There is metadata from the PUDL that isn't showing up in the Figgy records (either because it wasn't migrated or because it was migrated to fields that don't display).  ARKS have already been created and assigned for these assets, so we don't want to reingest from scratch.

Task: create a s

[2021-06-01 22:48] cwulfman commented on #78
Preliminary inspection suggests date_created is the only relevant data field not migrated from PUDL's MODS records. (Not all the MODS records include date_created, by the way.)  Subjects were migrated.  Could we ask the archivists which other fields they believe to be missing?

[2021-06-02 12:50] cwulfman commented on #78
Esmé replied:

Interborough Rapid Transit missing metadata, e.g.:
http://pudl.princeton.edu/objects/170178dc-4220-4736-b10e-f28b41fa4c6e
Physical Description: 1 poster; approximately 21×16 inches
Origin: New York (N.Y.), 1925
Series: The Subway Sun. Number 15

[2021-07-10 13:21] cwulfman commented on #78
https://docs.google.com/spreadsheets/d/12IEoCD77L8CxN1MRdXFvkyP2HQ1fKqL6snUi0LikdZk/edit?usp=sharing

[2021-07-10 13:21] #78 closed, assigned to cwulfman

[2021-07-14 13:02] cwulfman opened #79 "Ingest IRB spreadsheet into Figgy"

[2021-07-14 13:13] cwulfman commented on #71
Just get the rest of the images into Figgy and linked to FA or cat records.

[2021-07-23 19:08] kelea99 commented on #71
heard from roel that folks couldnt get to the items in PUDL, but things are back up and running now.

[2021-07-27 12:05] #79 closed, assigned to cwulfman

[2021-08-03 13:02] cwulfman commented on #43
May I mark this task as complete, @kelea99 ?

[2021-08-03 13:03] cwulfman commented on #23
Can we close this one, @kelea99?

[2021-08-03 13:14] kelea99 commented on #23
They are still working on the items in DPUL, but I believe our work on this in figgy is complete. Closing ticket.

[2021-08-03 13:14] #23 closed, assigned to cwulfman

[2021-08-03 13:15] kelea99 commented on #43
Closing.

[2021-08-03 13:15] #43 closed, assigned to cwulfman

[2021-08-04 12:32] cwulfman commented on #10
Seems to work now.

[2021-08-04 12:32] #10 closed, assigned to kelea99

[2021-08-04 12:46] cwulfman commented on #71
@kelea99 can we close this issue now?

[2021-08-10 13:10] kelea99 commented on #32
I can do this one. Nope. correction. I cannot. Part of an ephemera collection. I am going to forward this to. Gabrielle and Fernando for QA

[2021-08-10 13:23] kelea99 commented on #39
Check on arks before closing

[2021-08-10 13:27] #12 closed, assigned to nobody

[2021-08-10 13:58] cwulfman commented on #20
Ingested from Isilon and linked to https://findingaids.princeton.edu/catalog/C0101_c000668

https://figgy.princeton.edu/catalog/f55cf1ad-a602-4617-92ee-3208ec63700d

[2021-08-10 13:58] #20 closed, assigned to cwulfman

[2021-08-10 14:31] cwulfman commented on #71
https://figgy.princeton.edu/catalog/474c056f-24fe-4f60-a30c-019268447a64

[2021-08-10 14:31] #71 closed, assigned to nobody

[2021-08-10 17:32] kelea99 commented on #15
- We do have engelman:https://catalog.princeton.edu/catalog/9985554443506421. But i still cannot find it in figgy (it has to be there, though).

- Ivan susanin seems to be a university of pennsylvania item? wrote to @cwulfman and @escowles about this one.

- Volume 2 ingested by KEL for Manuel de l'outillage des arts et metiers. https://figgy.princeton.edu/catalog/77362f63-2fe4-4527-b1c3-eae5e6061

[2021-08-10 17:38] escowles commented on #15
@kelea99

Here is the Engelman object in figgy: https://figgy.princeton.edu/catalog/49add4a8-e4fc-4ddf-a533-b335f9b21b18

Agree about the Ivan Susanin item (it has Penn bookplates, etc.) so it's weird that we would digitize it

[2021-08-10 17:41] kelea99 commented on #15
Thank you!! @escowles Is there a reason why Engelmann does not come up in any searches I try? How did you find it? I tried the bib id, the title, and the author.

[2021-08-10 17:52] escowles commented on #15
I tried searching for the Bib and got a weird error (maybe related to the Voyager/Alma difference?). So then I went to the viewer, got the IIIF manifest URL, and got the figgy ID from there.

[2021-08-10 17:57] kelea99 commented on #15
Ok. Good to know. I think I'll make a ticket for Engelmann, just in case it is a bug that has his more than one item in figgy. at least we have something to go off of.  Thank you @escowles

@cwulfman. I am going to close this ticket and make a ticket specifically for Ivan Susanin. We need curator weigh in on that one, imo. We do have the images for T.12a, 12b and 12 supplement on the Isilon, under

[2021-08-10 18:06] kelea99 opened #80 "Ivan Susanin (UPenn item) not migrated to Figgy from PUDL. More information needed"
This item was part of the DIgital Library Bookshelf in PUDL.  The location is noted as being "Van Pelt Library, University of Pennsylvania Library".  @kelea99 will contact SC/Mendel to determine how to proceed.

Item is on the Isilon (PUDL0018). T.12a, T.12b, T12 Supplement. We would lose the structure from PUDL, though.

PUDL link: pudl.princeton.edu/objects/w9505053d

[2021-08-10 18:07] #15 closed, assigned to kelea99

[2021-08-10 18:14] kelea99 commented on #32
Heard from Gabrielle. The posters have  been in the "Needs QA" state for three years now, because they would like to have to take another look at the originals. But once they are ready to go public, She will the "All in Production" button. Closing ticket.

[2021-08-10 18:14] #32 closed, assigned to nobody

[2021-08-10 19:51] kelea99 commented on #80
From @jpstroop : The long and short of it is that the collected critical/urtext/etc. works of Russian composers are hard to get...In 2006 a musicology grad student needed this and we did not have a copy, nor could we get one loaned to us long-term, and it was needed for his dissertation. It was decided to do high-res scan while we had it.  The music librarian at Penn, Dick Griscom, who just retire

[2021-08-10 19:52] kelea99 commented on #39
Items being reviewed by Brittany.

[2021-08-10 19:55] kelea99 commented on #80
just confirmed: Brittany agrees. She would use the example from world cat above for the bit we have here.

[2021-08-12 19:35] #39 closed, assigned to nobody

[2021-08-12 19:36] kelea99 commented on #39
met with Brittany.All MODS are in hand with Brittany on a server. All images have been migrated into figgy, approved by Brittany. CLosing ticket. all done on the PUDL sunsetting end.

[2021-08-17 17:35] cwulfman commented on #76
There are 22,208 arks pointing to http://pudl.princeton.edu/*  .  Each of those web pages must be scraped for metadata that can be used to determine what Figgy object it corresponds with.

[2021-08-17 17:39] escowles commented on #76
@cwulfman Scraping the PUDL pages seems like the most exhaustive way to tackle this — but wouldn't looking in the Figgy database or PUDL METS files be easier (and probably faster)?

[2021-08-17 17:43] cwulfman commented on #76
I don't think either Figgy or the PUDL METS have the necessary metadata -- I may be wrong.
The object URIs look like `http://pudl.princeton.edu/objects/00000017b`.  The final segment (`00000017b`) is sometimes, but not always, a METS OBJID, so that's probably the right place to start -- you're right. Triage is the name of this game.

[2021-09-01 14:11] cwulfman commented on #76
# New Strategy
Based on meeting btw @escowles and @cwulfman, we will pursue an agile strategy: in the first pass, simply direct all the items in a PUDL collection to its corresponding DPUL collection or finding aid (item -> collection); a second pass can redirect item -> item. This allows us to sunset the PUDL platform more quickly (the top priority).

Begin with GNIB and Latin American Posters, w

[2021-09-07 13:52] kelea99 commented on #80
Just in case, Ill add the MMSID: 99125378828406421

[2021-09-08 16:36] cwulfman commented on #80
Ingested: https://figgy.princeton.edu/catalog/f69c6105-d2f3-41f2-b841-8b1e3ea13ea3

[2021-09-08 16:41] kelea99 commented on #80
Reopening. the structural metadata was not migrated. @cwulfman can you have a look ?

[2021-09-08 16:45] cwulfman commented on #80
I did not try to migrate the structural metadata.  I thought we agreed to ignore it (unless Marvin Bielawski wants to do it again)

[2021-09-08 16:46] kelea99 commented on #80
Hi! No. the only reason why you were assigned to do it versus me was because of the structural metadata needing to be migrated

[2021-09-08 16:51] kelea99 commented on #80
@escowles @tpendragon , can you help with this? thanks!

[2021-09-08 17:01] escowles commented on #80
I think we can ingest this with the `import:mets` rake task, which will migrate the structure from the METS structmap — here's the code that parses the bib id from the METS: https://github.com/pulibrary/figgy/blob/main/app/models/mets_document.rb#L28 — putting the bibid in the mets file should make it just work with the existing rake task.

[2021-09-08 17:02] tpendragon commented on #80
We used to migrate these via a METS file @jpstroop would provide. I'm not really sure how to get that out of the PUDL. Is this happening a lot or should we just manually migrate that structure for this item?

[2021-09-08 17:05] kelea99 commented on #80
Ill just do it manually. standby.

[2021-09-08 20:00] kelea99 commented on #80
Finished the first volume.  I think its good enough. Ill finish the other two tomorrow: https://figgy.princeton.edu/catalog/871cd10d-9cfa-493a-828a-b69243153330

[2021-09-14 13:37] #73 closed, assigned to nobody

[2021-09-14 13:38] #72 closed, assigned to nobody

[2021-09-15 00:52] kelea99 commented on #80
structural metadata copied over to figgy and complete (order and structure manager). marked private. completed in figgy. closing ticket
https://figgy.princeton.edu/catalog/f69c6105-d2f3-41f2-b841-8b1e3ea13ea3

[2021-09-15 00:52] #80 closed, assigned to kelea99

[2021-09-15 13:28] kelea99 commented on #80
changed to open. restricted downloads. send figgy url and ark to Kevin Connell to add to the alma record.

[2021-09-29 12:02] kayiwa commented on #76
heya @escowles and @cwulfman what is the FQDN to redirect

[code]

it is not clear to me.

[2021-09-29 12:07] escowles commented on #76
@kayiwa Both `pudl.princeton.edu` and `pudltest.princeton.edu`, so:

`pudl.princeton.edu/objects/[ARK id]` -> `arks.princeton.edu/ark:/88435/[ARK id]`
`pudl.princeton.edu/sheetreader.php?obj=[ARK id]` -> `arks.princeton.edu/ark:/88435/[ARK id]`
`pudltest.princeton.edu/objects/[ARK id]` -> `arks.princeton.edu/ark:/88435/[ARK id]`
`pudltest.princeton.edu/sheetreader.php?obj=[ARK id]` -> `arks.prince

[2021-09-29 14:25] cwulfman commented on #3
redirects are already implemented

[2021-09-29 14:25] #3 closed, assigned to nobody

[2021-09-29 14:28] #75 closed, assigned to nobody

[2021-11-22 18:48] kelea99 opened #81 "PUDL 0040 : Jefferson Letters"
**Date of project:** At least from 2007.
**Stakeholder:** Ben Primer
**Original Metadata/Descriptive needs:** Stakeholder intended to do this himself
**Synopsis:** Photography completed on >100 letters to/from Thomas Jefferson, selected by stakholder from various Special Collections at PUL.

**Link to PUDL0040:** https://diglib.princeton.edu/tools/ib/pudl0040

Issues:
Metadata:  The work to connec

[2021-11-22 19:17] escowles commented on #77
This is a Drupal form: https://library.princeton.edu/help/digital-library-feedback

[2021-11-22 19:18] escowles opened #82 "Update ARKs with item-level targets"
Many of the ARKs that formerly were pointing at PUDL items were bulk-updated to point to DPUL or other collection-level pages. We should revisit those targets and find item-level targets for as many items as possible.

[2021-11-23 15:00] cwulfman commented on #81
There's a long story behind this little project; I'll let @jpstroop tell it.

[2021-11-23 15:02] cwulfman commented on #77
I've contacted @kevinreiss and @sdellis

[2021-11-23 15:57] jpstroop commented on #81
I must have a mental block against it! Like William Blake, I feel like it went nowhere due to lack of consensus about metadata and the letters coming from different collections 😱 , but that's all I've got.

[2021-11-23 16:01] cwulfman commented on #81
That's about what I recall as well.  I think I may also be confusing these letters with some Lincoln materials.

[2021-11-23 16:04] jpstroop commented on #81
The presidents change, but the story stays the same.

[2021-12-08 13:04] escowles commented on #76
@kayiwa We have updated the spreadsheet with a few patterns and a list of about 60 literal URLs to be redirected: https://docs.google.com/spreadsheets/d/124DRio1JZU45wec3dLDt4z1a1rB-gYcPiXAMOP3IVFA/edit#gid=0

[2021-12-08 13:10] escowles opened #83 "Ingest Mesoamerican manuscripts and migrate exhibit to DPUL"
There is a static site containing context and reference images of several Mesoamerican manuscripts: https://lib-static-prod.princeton.edu/mssimages/

These items should be photographed in their entirety, ingested into Figgy, and the static site content should be migrated to a new DPUL exhibit. Depending on the normal digital workflow factors, this may be able to be done fairly quickly, or it may t

[2021-12-08 13:12] escowles commented on #74
I was going to make this an epic and list all the recent and upcoming tasks involved, but now it's basically just #76, so I'm closing this in favor of that issue that has more details of how to redirect the PUDL URLs.

[2021-12-08 13:12] #74 closed, assigned to nobody

[2022-01-05 14:08] escowles commented on #76
This was done, closing this issue.

[2022-01-05 14:08] #76 closed, assigned to kayiwa, cwulfman

[2022-01-05 14:10] cwulfman commented on #82
Western Americana, Postcards, Grounds & Buildings will be the bulk of these (because they are so large).

[2022-01-05 14:44] kelea99 commented on #82
Postcard and Grounds and Buildings will not be possible due to the way it was ingested  versus the way it was described.  But The Western Americana will work.

[2022-05-13 19:03] kelynch opened #84 "Update default branch name from master to main"
Update the name of the default branch of this repo from `master` to `main`. See the [GitHub Renaming Guidelines](https://github.com/github/renaming#renaming-existing-branches) for instructions on how to do this via the web.

[2022-05-20 15:58] #84 closed, assigned to cwulfman